body{
    font-family: 'Righteous', cursive;
}

h1 {
    text-align: right;
}

/* h2 {
    color: white;
} */

.photo {
    background-size: cover; 
    background-position: center;
    width: 150px;
    height: 150px;
    margin: auto;
}

#cobra .photo {
    background-image: url(../images/cobraCommanderGIJ.jpg);
    
}
#leonardo .photo{
    background-image: url(../images/leonardoTMNT.jpg);
}
#megatron .photo{
    background-image: url(../images/megatronT.jpg);
}
#velma .photo{
    background-image: url(../images/velmaSD.jpg);
}

.character {
    background-color: aqua;
    min-width: 200px;
    min-height: 200px;
    text-align: center;

}

.name {
    background: red;
}